/* LAYOUT */
.cart-container {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

/* LEFT */
.cart-left {
  flex: 2;
}

/* RIGHT */
.cart-right {
  flex: 1;
}

/* ITEM */
.cart-item {
  display: flex;
  gap: 20px;
  padding: 15px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #eee;
  animation: fadeIn 0.4s ease;
}

.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

/* DETAILS */
.cart-details h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.price {
  font-weight: 600;
  margin-bottom: 10px;
}

/* QTY */
.qty-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  width: fit-content;
  margin-bottom: 10px;
}

.qty-box button {
  width: 30px;
  height: 30px;
  border: none;
  background: #f5f5f5;
  cursor: pointer;
}

.qty-box button:active {
  transform: scale(0.9);
}

.qty-box span {
  padding: 0 10px;
}

/* ACTIONS */
.cart-actions button {
  margin-right: 10px;
  background: none;
  border: none;
  color: #2874f0;
  cursor: pointer;
}

/* PINCODE */
.pincode-box {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.pincode-box input {
  padding: 8px;
  border: 1px solid #ccc;
}

.pincode-box button {
  padding: 8px 12px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.delivery-msg {
  font-size: 13px;
  margin-bottom: 20px;
}

/* COUPON */
.coupon-box {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.coupon-box input {
  padding: 8px;
  border: 1px solid #ccc;
  flex: 1;
}

.coupon-box button {
  padding: 8px 12px;
  background: #2874f0;
  color: white;
  border: none;
  cursor: pointer;
}

.coupon-msg {
  font-size: 13px;
  margin-bottom: 10px;
}

/* PRICE BOX */
.price-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #eee;
  position: sticky;
  top: 100px;
}

.price-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total-row {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  margin: 15px 0;
}

.free {
  color: green;
}

/* BUTTON */
.checkout-btn {
  width: 100%;
  padding: 12px;
  background: #fb641b;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.checkout-btn:hover {
  transform: scale(1.03);
  background: #ff7a2f;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .cart-container {
    flex-direction: column;
  }

  .cart-right {
    order: -1;
  }
}

/* EMPTY */
.status-text {
  text-align: center;
  margin-top: 80px;
  font-size: 18px;
}