/* hero banner */

.about-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    color: #000;
    background: #fff;
}

.about-hero {
    position: relative;
    height: 100vh;
    background: url('../../assets/images/heroImg.png') no-repeat center center/cover;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 50px;
    /* padding: 40px 20px; */
    color: white;
    /* text-align: center; */
    overflow: hidden;
    transition: transform 0.6s ease, filter 0.6s ease;
}

/* Zoom in on hover */
.about-hero:hover {
    transform: scale(1.05);
    /* slight zoom */
    filter: brightness(1.1);
    /* optional: makes it pop */
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: #fff;
    /* top: 10px; */
    max-width: 700px;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.about-details {
    padding: 60px 20px;
    background-color: #fdfdfd;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}

.about-text {
    flex: 1 1 500px;
    padding: 20px;
}

.about-text h2 {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
}

.about-image {
    flex: 1 1 400px;
    text-align: center;
    padding: 20px;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.mission-vision {
    background-color: #fafafa;
    padding: 60px 20px;
}

.mv-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
    margin: 0 auto;
}

.mv-block {
    flex: 1 1 400px;
    margin: 20px;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.mv-block h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #333;
}

.mv-block p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

@media (max-width: 768px) {
    .about-hero {
        height: 50vh;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-text h2 {
        font-size: 1.8rem;
    }

    .about-text p {
        font-size: 0.95rem;
    }

    .mv-container {
        flex-direction: column;
        align-items: center;
    }

    .mv-block {
        width: 100%;
        margin: 15px 0;
    }
}