
.coming-soon-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    to bottom,
    #0b0b0b,
    #1a1a1a
  );

  color: white;
  text-align: center;
}

/* BOX */

.coming-soon-box {
  padding: 40px;
  border-radius: 12px;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(201,162,77,0.3);
}

/* TITLE */

.coming-title {
  font-size: 36px;
  color: #c9a24d;
  margin-bottom: 10px;
}

/* SUBTITLE */

.coming-subtitle {
  font-size: 16px;
  color: #ccc;
}

/* LOADER */

.coming-loader {
  margin: 20px auto 0;
  width: 40px;
  height: 40px;

  border: 3px solid rgba(255,255,255,0.2);
  border-top: 3px solid #c9a24d;

  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}