.checkout-page {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
.checkout-page {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.checkout-btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.address-box {
  background: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

/* MODAL */

.order-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.payment-box{
margin:20px 0;
padding:15px;
border:1px solid #ddd;
border-radius:8px;
background:#fafafa;
}

.payment-option{
display:block;
margin-top:10px;
font-size:16px;
cursor:pointer;
}

.note-box{
margin-top:15px;
font-size:14px;
color:#555;
}
.order-modal-content {
  background: white;
  padding: 40px;
  text-align: center;
  border-radius: 8px;
  width: 400px;
}

.success-text {
  color: green;
  margin-top: 20px;
}

/* LOADER */

.loader {
  border: 5px solid #eee;
  border-top: 5px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 20px auto;
  animation: spin 1s linear infinite;
}

/* Background Image Layer */

.checkout-page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("../../assets/images/bgimage.png"); /* your image */
  background-size: cover;
  background-position: center;

  filter: blur(10px);
  z-index: -1;
}
/* FULL PAGE LAYOUT */
html, body {
  height: 100%;
  margin: 0;
}

.checkout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* MAIN CONTENT TAKES SPACE */
.checkout-content {
  flex: 1;
}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}