/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

/* Container */
.signup-container {
  display: flex;
  height: 100vh;
}

/* LEFT IMAGE */
.signup-left {
  flex: 1;
  background: url("../../assets/images/ChatGPT.png") no-repeat center;
  background-size: cover;
  position: relative;
}

/* Overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 20px;
}

/* RIGHT */
.signup-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fa;
}

/* CARD */
.signup-card {
  width: 350px;
  padding: 30px;
  border-radius: 15px;

  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* Titles */
.signup-card h2 {
  text-align: center;
}

.signup-card h3 {
  text-align: center;
  margin-bottom: 15px;
}

/* Progress */
.progress-bar {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.step {
  flex: 1;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
}

.step.active {
  background: #ffd814;
}

/* Inputs */
.signup-card input,
.signup-card select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Buttons */
.signup-card button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #ffd814;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

/* Button group */
.btn-group {
  display: flex;
  gap: 10px;
}

.btn-group button {
  flex: 1;
}

/* Error */
.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}
.password-field {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 12px;
  color: #555;
}
.password-rules {
  margin-top: 8px;
  font-size: 13px;
}

.password-rules p {
  margin: 3px 0;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

/* Responsive */
@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
  }

  .signup-left {
    height: 40%;
  }

  .signup-right {
    height: 60%;
  }
}