.shringar-carousel {
  width: 100%;
  height: 70vh;
}

.shringar-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Gold pagination */
.swiper-pagination-bullet {
  background: #c9a24d;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
